development:
  frontend:
    sso_name: 'SSO Example Server'
    footer_text: 'Powered by <a href="http://rbcas.com/">CASino</a>'
  authenticators:
     sso_example_database:
      authenticator: "Moped"
      options:
        database_url: "mongodb://localhost:27017/sso_example_server"
        collection: "users"
        username_column: "email"
        password_column: "encrypted_password"
